.full-size {
    height: 100%;
    border: solid;
    border-radius: 5px;
}
#imageBody {
    background-color: bisque;
    text-align: center;
}

#oponentImage {
    
    height: 450px;
    width: auto;
}

.oponentText { 
    text-align: center; 
    background-color: blueviolet;
    height: 10%;
}

#yourText {
    background-color: brown;
    height: 30%;
    font-size: 24px;
    padding: 2px;
    text-align: center;

}
#yourText:hover {
    cursor: pointer;
}

.question-key{
    border-radius: 15px;
    width: 500px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: cornsilk;
    
}

.question-key:hover {
    background-color: cornflowerblue;
}